/* MASTER WIDGET SETTINGS */
@import url('https://fonts.googleapis.com/css?family={fontFamily}:100,300,400,500,700,900&display=swap');
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro: 400, 300);

* {
  font: normal 76px/1 {{fontFamily}}, Helvetica, sans-serif;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.malum-dashboard {
  background-color: {{dashboardBackgroundColor}};
}

.divider-color > * + * {
  border-color: {{dividerColor}} ;
}

/* TITLE */
.title {
  color: {{titleColor}};
  font-size: {{titleFontSize}}px;
  text-align: center;
}

/* EVIDENCE */
.evidence-svg-container {
  height: auto; 
  margin: 0 {{evidenceMarginSize}}px;
}

.evidence {
  width: {{evidencePixelSize}}px;
  height: {{evidencePixelSize}}px;
  margin: auto auto;
}

.inactive {
  fill: {{evidenceInactive}};
}

.active {
  fill: {{evidenceActive}};
}

.impossible {
  fill: {{evidenceImpossible}};
}

.impossible-completed {
  fill: {{evidenceImpossibleCompleted}};
}

/* COUNTER */
.counter-theme {
  font-size: {{counterFontSize}}px;
  color: {{counterFontColor}};
  align-self: flex-end;
}

/* CONCLUSION AND RITUAL */
.conclusion {
  color: {{conclusionColor}};
  font-size: {{conclusionFontSize}}px;
}

.solutionmain {
  margin-left: auto;
  margin-right: auto;
  margin-top: {{solutionFontSize}}px;
  display: flex;
  width: calc({{summonCircleSize}}px);
  height: calc({{summonCircleSize}}px+{{solutionFontSize}}px);
  align-items:center;
  justify-content:center;
}

.solutionsummon {
  margin:auto;
  width: {{summonCircleSize}}px;
  height: {{summonCircleSize}}px;
}

.summonitem {
  font-size: {{solutionFontSize}}px;
  height: {{solutionFontSize}}px;
  color: {{solutionColor}};
  position: absolute;
}

.summonitem:nth-child(1) {
  transform: translateY(calc(({{summonCircleSize}}px / -2) - {{ritual1ExtraSpace}}px));
  text-align:center;
}

.summonitem:nth-child(2) {
  transform: rotate({{ritual2Rotation}}deg) translateY(calc(({{summonCircleSize}}px / -2) - {{ritual2ExtraSpace}}px)) rotateZ(calc({{ritual2Rotation}}deg * -1));
  text-align:right;
}

.summonitem:nth-child(3) {
  transform: rotate({{ritual3Rotation}}deg) translateY(calc(({{summonCircleSize}}px / -2) - {{ritual3ExtraSpace}}px)) rotateZ(calc({{ritual3Rotation}}deg * -1));
  text-align:left;
}

.summonitem:nth-child(4) {
  transform: rotate({{ritual4Rotation}}deg) translateY(calc(({{summonCircleSize}}px / -2) - {{ritual4ExtraSpace}}px)) rotateZ(calc({{ritual4Rotation}}deg * -1));
  text-align:right;
}

.summonitem:nth-child(5) {
  transform: rotate({{ritual5Rotation}}deg) translateY(calc(({{summonCircleSize}}px / -2) - {{ritual5ExtraSpace}}px)) rotateZ(calc({{ritual5Rotation}}deg * -1));
  text-align:left;
}

/* BORDER */
.malum-border {
  border-color: {{borderColor}};
  border-width: {{borderWidth}}px;
  border-radius: {{borderRadius}}px;
  border-style: {{borderType}};
}

/* ANIMATED BORDER */
.animated-box {
  border-radius: {{borderRadius}}px;
}

.animated-box h1 {
  font-weight: 200;
  font-size: 40px;
  text-transform: uppercase;
}

.animated-box p {
  font-weight: 200;
}

.animated-box {
  position: relative;
  border-radius: {{borderRadius}}px;
}

.animated-box:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: {{borderRadius}}px;
  background: linear-gradient({{animatedBorderAngle}}deg, {{animatedBorderColor}}, {{animatedBorderColorTwo}}, {{animatedBorderColorThree}});
  clip-path: polygon(0% 100%, {{borderWidth}}px 100%, {{borderWidth}}px {{borderWidth}}px, calc(100% - {{borderWidth}}px) {{borderWidth}}px, calc(100% - {{borderWidth}}px) calc(100% - {{borderWidth}}px), {{borderWidth}}px calc(100% - {{borderWidth}}px), {{borderWidth}}px 100%, 100% 100%, 100% 0%, 0% 0%);
}

.animated-box-100:after {
  background-size: 100% 100%;
}

.animated-box-300:after {
  background-size: 300% 300%;
}

.animated-box.in:after {
  animation: frame-enter 1s forwards ease-in-out reverse, gradient-animation {{animationDuration}}s ease-in-out infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 15% 0%;
  }
  50% {
    background-position: 85% 100%;
  }
  100% {
    background-position: 15% 0%;
  }
}

@keyframes frame-enter {
  0% {
    clip-path: polygon(0% 100%, {{borderWidth}}px 100%, {{borderWidth}}px {{borderWidth}}px, calc(100% - {{borderWidth}}px) {{borderWidth}}px, calc(100% - {{borderWidth}}px) calc(100% - {{borderWidth}}px), {{borderWidth}}px calc(100% - {{borderWidth}}px), {{borderWidth}}px 100%, 100% 100%, 100% 0%, 0% 0%);
  }
  25% {
    clip-path: polygon(0% 100%, {{borderWidth}}px 100%, {{borderWidth}}px {{borderWidth}}px, calc(100% - {{borderWidth}}px) {{borderWidth}}px, calc(100% - {{borderWidth}}px) calc(100% - {{borderWidth}}px), calc(100% - {{borderWidth}}px) calc(100% - {{borderWidth}}px), calc(100% - {{borderWidth}}px) 100%, 100% 100%, 100% 0%, 0% 0%);
  }
  50% {
    clip-path: polygon(0% 100%, {{borderWidth}}px 100%, {{borderWidth}}px {{borderWidth}}px, calc(100% - {{borderWidth}}px) {{borderWidth}}px, calc(100% - {{borderWidth}}px) {{borderWidth}}px, calc(100% - {{borderWidth}}px) {{borderWidth}}px, calc(100% - {{borderWidth}}px) {{borderWidth}}px, calc(100% - {{borderWidth}}px) {{borderWidth}}px, 100% 0%, 0% 0%);
  }
  75% {
    -webkit-clip-path: polygon(0% 100%, {{borderWidth}}px 100%, {{borderWidth}}px {{borderWidth}}px, {{borderWidth}}px {{borderWidth}}px, {{borderWidth}}px {{borderWidth}}px, {{borderWidth}}px {{borderWidth}}px, {{borderWidth}}px {{borderWidth}}px, {{borderWidth}}px {{borderWidth}}px, {{borderWidth}}px 0%, 0% 0%);
  }
  100% {
    -webkit-clip-path: polygon(0% 100%, {{borderWidth}}px 100%, {{borderWidth}}px 100%, {{borderWidth}}px 100%, {{borderWidth}}px 100%, {{borderWidth}}px 100%, {{borderWidth}}px 100%, {{borderWidth}}px 100%, {{borderWidth}}px 100%, 0% 100%);
  }
}

/* WIDGET ALERT */
#console-container {
  display: inline-block;
  width: 95%;
  max-width: 95%;
  float: right;
  font-size: 24px;
  font-family: 'Source Code Pro', 'Inconsolata', monospace;
}

#text {
  display: inline-block;
  margin: .8em 0;
  font-size: 18px;
}

.cursor {
  display: inline-block;
  height: 24px;
  width: 8px;
  background: #11f930; 
  margin-left: -12px;
}

.prompt {
  color: #11f930;
  height: 24px;
  font-size: 24px;
}

.hide {
  display: none;
}

.malum-version {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: grey;
  opacity: 0;
}

.version-item {
  opacity: 0;
  transition: 1s linear all;
}

.show-version-item {
  opacity: 1;
  transition: 1s linear all;
}
